* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background-color: ;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
}

.search-container input {
    padding: 1rem;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid orange;
    min-width: 500px;
    outline: none;
    font-size: 1.2rem;
}

.search-container button {
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: coral;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/*============CARD===========*/

.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem;
    justify-content: center;
}

.cardContainer {
    width: 350px;
    background-color: #eae3e3;
    border-radius: 5px;
    position: relative;

}

img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;

}

.car-description {
    padding: 20px 20px;

}

.car-description p {
    padding-bottom: 5px;
    font-weight: 400;
}

.car-description p:first-child {
    font-weight: bold;
    font-size: 20px;
    text-decoration-line: underline;
}

.cardContainer:hover {
    background-color: #ff6200;
    color: #ece7e7;
    transform: scale(1.1);
    cursor: pointer;
}



.cardContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-50%) translateY(-50%);
    height: 30px;
    width: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.available::after {
    background-color: green;
}

.not-available::after {
    background-color: red;
}